.background {
    -fx-background-color: #E6E6E6;
}

.bottom-banner {
    -fx-background-color: #A62834;
}

.play-pause {
    -fx-background-image: url('/images/play-b.png');
    -fx-background-color: #E6E6E6;
    -fx-background-radius: 50;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.37), 32, 0, 2, 8)
}

.play-pause:selected {
    -fx-background-image: url('/images/pause.png');
    -fx-background-radius: 50;
    -fx-effect: innershadow(gaussian, rgba( 0, 0, 0, 0.37 ), 10, 0, 2, 8);
}

.skip-to-start {
    -fx-background-image: url('/images/start.png');
    -fx-background-color: #E6E6E6;
    -fx-background-radius: 50;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.37), 32, 0, 2, 8)
}

.skip-to-start:selected {
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.37), 32, 0, 2, 8)
}

.skip-to-end {
    -fx-background-image: url('/images/end.png');
    -fx-background-color: #E6E6E6;
    -fx-background-radius: 50;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.37), 32, 0, 2, 8)
}

.skip-to-end:selected {
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.37), 32, 0, 2, 8)
}